.VideoComponent{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    background-color: white;
   
}
.PlayList{
    width:25%;
  margin-right:10px;
    min-height: 100vh;
 
    box-sizing: border-box;
    background-color: white;
}
.VideoCard{
width:70%;

}
.VCard{
    width:100%;
    margin:18px;  
    margin-left:-5px;
    box-sizing: border-box;
}
/* .VCard{
    width:100%;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #ccc;
    /* margin: 8px; */
    /* text-decoration: none;  */
/* } */ 
.Active{
    border:3px solid #FAD744;
    border-radius:9px;

  
}